<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <div class="modal fade" id="configurationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> -->
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Manual Configuration</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input class="form-control" value="10.210.210.117" type="text" name="proxy_ip" placeholder="Enter proxy Ip" aria-label="Enter proxy Ip " aria-describedby="btnNavbarSearch" />
                    <label for="floatingInput">Terminal/proxy ip</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" value="10.101.101.79" name="tftp_server" placeholder="Enter TFTP Server" aria-label="Enter TFTP Server" aria-describedby="btnNavbarSearch" />
                    <label for="floatingInput">TFTP Server</label>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    